<style>

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>

<div mdl-shadow="3"
     class="mdl-card
            mdl-card--expand
            mdl-color--indigo-50 
            mdl-cell
            mdl-cell--3-offset-desktop
            mdl-cell--6-col-desktop
            mdl-cell--12-col-phone 
            "
     >
  <div class="mdl-card__content mdl-card--expand">
    <br>
    <img class="center" src="src/app/sphere/favicon.ico">
    <br>
    <br>
    <br>
    <br>
    <div style="text-align:center;">
      <em>
        <h5>Authenticated Content</h5>
      </em>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
