<style>
img.qrcode {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
</style>

<div mdl-shadow="3"
     class="mdl-card
            mdl-card--expand
            mdl-color--indigo-50 
            mdl-cell
            mdl-cell--3-offset-desktop
            mdl-cell--6-col-desktop
            mdl-cell--12-col-phone 
            "
     >
  <div class="mdl-card__content mdl-card--expand">
    <div *ngIf="qrQuery">
      <img class="qrcode" src="{{qrQuery}}&size=300">
    </div>
    <div *ngIf="!qrQuery && !testing">
      <img class="qrcode" src="src/app/sphere/favicon.ico">
    </div>

    <div *ngIf="testing">
      <img class="qrcode" src="src/app/sphere/fake.png">
    </div>

    <button mdl-button
            type="submit"
            mdl-button-type="raised"
            mdl-ripple
            mdl-colored="primary"
            (click)="encode(text)"
            float-center
            class="mdl-cell mdl-cell--12-col"
            >
      2FA Code
    </button>

    <hr>
      <ul style="list-style-type: none; margin: 0; padding-left: 1em; display: inline-block; float:left;" class="mdl-cell mdl-cell--12-col">
        <li>
          <mdl-switch [(ngModel)]="keyFetch" name="keyFetch" id="switch-1" class="mdl-switch__input" (click)="queryKey()">
            <span class="mdl-switch__label">Display key</span>
          </mdl-switch>
        </li>
        <li *ngIf="!!keyFetch && !!keyResponse">
            <span>Key: {{key().Key}}</span>
            <br>
            <span>Status: {{key().Status}}</span>
        </li>
        <li *ngIf="!keyFetch || !keyResponse">
            <span>Key: </span>
            <br>
            <span>Status:</span>
        </li>
      </ul>
      <br>
      <hr>

    <div class="mdl-cell mdl-cell--6-col">
      <img class="avatar" src="{{image}}">
      <ul style="list-style-type: none; margin: 0; padding: 0; display: inline-block; float:right;" >
        <li>
          {{name}}
        </li>
        <li>
          {{account}}
        </li>
      </ul>
    </div>
    <hr>
    <form #validationForm="ngForm" class="mdl-cell--12-col" style="width:100%">
      <div class="mdl-row mdl-cell--12-col" style="width:100%">
        <mdl-textfield
           [(ngModel)]="token"
           class="form-control"
           floating-label
           label="Token"
           name="token" type="text"
           placeholder="123456"
           required
           pattern="[0-9]{6}"
           minlength=6
           maxlength=6
           >
        </mdl-textfield>


        <button
           [disabled]="!validationForm.valid"
           mdl-button
           mdl-button-type="raised"
           mdl-ripple mdl-colored="primary"
           (click)="validate()"
           float-right
           name="validate"
           >
          {{btnValidatedText}}
        </button>
      </div>
    </form>
    <hr>
    <div *ngIf="validationResponse">
      <b>Validation</b>
      <br/>Account: {{validationResponse.Account}}
      <br/>Issuer: {{validationResponse.Issuer}}
      <br/>Token: {{validationResponse.Token}}
      <br/>Status: {{validationResponse.Status}}
    </div>

    <div *ngIf="errorMessage">
      <em>Error {{errorMessage}}</em>
    </div>
  </div>
</div>

