img.qrcode {
    width: 15rem;
    height: 15rem;
    align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 3rem;
    height: 3rem;
}

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .qrcode {
        width: 12rem;
        height: 12rem;
        align: center;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width:400px)  { 
    .qrcode {
        width: 15rem;
        height: 15rem;
        align: center;

    }

    .avatar {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width:485px)  { 
    .qrcode {
        width: 18rem;
        height: 18rem;
        align: center;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
    }
}
